<%= action_row big_link("Back to Models", models_path, 'info', 'wrench'), big_link("Edit Model", edit_model_path(@model), 'warning', 'edit'), big_link("Destroy Model", '#', 'danger', 'bomb') %>

<h1><%= @model.name_with_manufacturer %> [<%= @model.category %>]</h1>
