

<h1>Users Assigned to <%= @building.name %></h1>

<%= row do %>
  <% @building.users.each do |user| %>
    <%= col(3) do %>
      <%= big_link user.name, user_path(user.samaccountname), 'primary' %>
    <% end %>
  <% end %>
<% end %>
