<%= action_row big_link("Back to User Profile", user_path(params[:sid].present? ? params[:sid] : current_user.samaccountname), 'info', 'user'), big_link('Add New Subscription', new_subscription_path, 'primary', 'send') %>

<h1><%= params[:sid].present? ? User.find(params[:sid]).nice_name + "'s" : 'Your' %> Subscriptions</h1>

<table class="table">
  <% @subscriptions.in_groups_of(3).each do |g| %>
    <tr>
      <% g.each do |s| %>
        <td>
          <% if s %>
            <%= link_to fa_icon('bomb'), s, method: 'delete', data: {confirm: 'Are you sure you want to unsubscribe?'}, class: 'btn btn-mini btn-danger' %> &nbsp; <%= link_to s.subscribable.nice_name, targetable_path(s.subscribable) %>
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
